*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/*corpo cabeçalho*/
header{
    background-color: black;
    margin: auto;
}
img{
    width: 110px;
    height: 100px;
}
.corpoCabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalhoMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 750px;
}
.cabecalhoMenu a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}
.menu-bars{
    font-size: 40px;
    display: none;
}
.fa-solid.fa-bars{
    color: #0FA958;
}
/*corpo PcGamer*/
.bannerPCGamer{
    height: 450px;
    background-image:url(../IMG/pcGamer.jpg);
    background-position: center;
    background-size: cover;
}
.ppg{
    height: 100%;
    display: flex;
    justify-content: first baseline;
    align-items: flex-end;
    padding: 50px;
}
.conteudo-banner{
    color: white;
    width: 330px;
}
.conteudo-banner h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}
.bannerPCGamer .conteudo-banner a{
    text-decoration:none ;
    color: white;
}
/*corpo console*/
.bannerConsole .conteudo-banner a{
    text-decoration:none ;
    color: white;
}
.bannerConsole{
    height: 450px;
    background-image: url(../IMG/consoles.jpg);
    background-position: center;
    background-size: cover;
}
.pc{
    height: 100%;
    display: flex;
    justify-content: first baseline;
    align-items: flex-end;
    padding: 50px;
}
/*corpo loja*/
.ofertaLoja{
    display: flex;
    background-color: #000;
    padding: 90px;
}
.ofertaLoja .main-gridloja .conteudo-produtos{
    display: flex;
    justify-content: space-around;
}
.itens{
    display: flex;
    align-items: center;
}
.texto-produto{
    font-family: sans-serif;
    color: white;
    padding: 50px;
}
h2{
    color: white;
    font-size: 15px;
}
p{
    font-size: 15px;
    color: white;
    text-align: justify;
}
.verde{
    color: #0FA958;
    font-size: 10px;
}
.precos{
    color: #f12020;
}
.tmenor{
    color: #0FA958;
    font-size: 10px;
}
.pl{
    height: 100%;
    display: flex;
    justify-content: first baseline;
    align-items: flex-end;
    padding: 50px;
}
.texto-produto button{
    color: #000;
    font-size: 20px;
    background-color: #f12020;
    text-transform: uppercase;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}
/*corpo clube*/
.bannerClubeGameMania{
    height: 450px;
    background-image: url(../IMG/clubGameMania.jpg);
    background-position: center;
    background-size: cover;
}
.cgm{
    height: 300px;
    background-image: url(../IMG/Club\ Game\ mania\ logolimpo.png);
    background-position: center;
    align-items: center;
}
.cgm .botao{
    display: flex;
    justify-content: center;
    padding-top: 300px;
}
.cgm .botao button{
    background: #f12020;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    height: 40px;
    width: 150px;
    text-transform: uppercase;
    border-radius: 5px;
}
.pcgm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*corpo footer*/
footer {
    padding: 10px 10px;
    background-color: black;
}
.grid-rodape {
    display: flex;
    justify-content: space-between;
    padding-right: 140px;
   
    
}
.grid-rodape .left-footer {
    color: #0FA958;
    font-family: sans-serif;
    font-size: 20px; 
    padding: 20px; 
}
.grid-rodape .left-footer a {
    color: #e0e0e0;
    padding-right: 10px;
    font-size: 25px;
}
.grid-rodape .right-box {
    color:#0FA958;
    font-family: sans-serif;
    font-size: 20px;
}
.grid-rodape .right-box p{
    color:#0FA958;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.assinatura {
    color: #0FA958;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 9px;
}
.assinatura .copy a{
    padding: 30px;
    color: #0FA958;
    font-family: sans-serif;
    text-decoration: none;  
}
/*corpo login*/
main{
    background-color: black;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}
form{
    width: 40%;
    height: 400px;
    margin: 0 auto;
    padding: 100px 0;

    background-color: #1E1C21;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form input[type="submit"]{
    width: 60%;
    margin: 0 auto;
    background-color: #c31616;
    color: white;
}
.campo-label {
    width: 60%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}
input {
    text-indent: 5px;
}
input, button {
    height: 35px;
    border-radius: 4px;
    border: none;
}
button {
    width: 200px;
}
p{
    text-align: center;
}

/*media loja*/
@media  screen and (max-width: 1200px) {
    .ofertaLoja .main-gridloja .conteudo-produtos{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }    
}
/*media cabeçalho*/

@media  screen and (max-width: 800px) {
    .corpoCabecalho{
        position: relative;
    }
    .cabecalhoMenu{
        height: 300px;
        position: absolute;
        top: 100px;
        display: none;
        background-color: #000;
        flex-direction: column;
        align-items: center;
    }
    .menu-bars{
        display: inline-block;
    }
}
/*media rodape*/

@media screen and (max-width: 900px) {
    .grid-rodape{
        width: 100%;
        flex-wrap: wrap;        
        justify-content: center;
        padding: 20px;
    }  
}